status_file_path = "data/status_info.txt"

[gpt]
tokens = [ "", "",] # Вставь два токена
active_program_path = "/etc/systemd/system/gpt_processing_1.service"
active_program_step = "descr"
programs_path = [ "/etc/systemd/system/gpt_processing_1.service", "/etc/systemd/system/gpt_processing_2.service",]
working_folders = [ "/root/go/src/github.com/Rosya-edwica/go-gpt-processing/", "/root/go-gpt-processing_copy/",]
executable_folders = [ "/root/go/src/github.com/Rosya-edwica/go-gpt-processing/cmd/gpt_processing_1", "/root/go-gpt-processing_copy/cmd/gpt_processing_2",]

[telegram]
token = "" # Вставь токен

[database]
host = "83.220.175.75"
port = 3306
user = "edwica_root"
password = "b00m5gQ40WB1"
name = "edwica_api"

[openedu]
program_name = "openedu.service"
result_csv_path = "/root/parsers/py-openedu-scraper/courses.csv"

[vacancies]
program_name = "go_vacancies.service"

[postupi]
program_name = "data/postupi.service"
upload_file = "data/postupi_patg.csv"
